<h1>Create New Drone</h1>

<form action="/drones/create" method="POST">

    <label for="">Name</label>
    <input type="text" name="name" />

    <label for="">Propellers</label>
    <input type="number" name="propellers" />

    <label for="">Maximum Speed</label>
    <input type="number" name="maxSpeed" />

    <button type="submit">Create</button>

</form>