<body>

    <section>
        <div>
            <h1>Drones<br>Ironhack</h1>
            <div>
                <button><a href="/drones">Check the drones!</a></button>
            </div>
        </div>
    </section>

</body>